@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;700&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFCF2;
}

nav {
  color:#252422;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(204, 197, 185, .2); 
  backdrop-filter: blur(5px);
}

.nav-ul {
  width: 50%;
  display: flex;
  justify-content: center;
}

.nav-logo {
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.nav-li {
  list-style-type: none;
}

.nav-li:nth-child(2) {
  padding: 0 2rem;
}

.nav-btn {
  text-transform: lowercase;
  border: none;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  font-family: 'Quicksand', sans-serif;    
  font-size: 1.2rem;
  background: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  padding: .5rem;
  color:#403D39;
}

.nav-btn:hover {
  border-bottom: 3px solid #EB5E28;
  color:black;
}

.hamburger-container {
  height: 100%;
  margin: 0 auto;
  width: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #403D39;
}

@media only screen and (max-width: 768px) {

  .hamburger-container {
    display: flex;
  }

  .hamburger-container.active {
    background-color: rgba(235, 94, 40, 0.85);
}

  .hamburger {
    display: block;
  } 

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-li:nth-child(2) {
    padding: 0 0rem;
  }

  .nav-ul {
    opacity: 0;
    background-color: rgba(204, 197, 185, .2); 
    backdrop-filter: blur(5px);
    position: fixed;
    right: 0;
    top: 80px;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100vh;
    text-align: center;
    transition: .5s;

  }

  .nav-ul.active {
    background-color: rgba(235, 94, 40, 0.85);
    opacity: 1;
  }

  .nav-btn {
    color: white;
    margin-top: 1rem;
}

.nav-btn:hover {
  border-bottom: 3px solid black;
  color:black;
}
}